@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
    background-image: url(wallhaven-m3y67m.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bienvenida{
    height: 100vh;
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
}
.texotBienvenida{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 130px;
    margin: 0px;
    border: 0px;
    padding-left: 400px;
    color: aliceblue;
    text-shadow: 3px 1px 2px black;
}
.game{
    background-color: rgba(240, 240, 240, 0.696);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 100px;
    margin-left: 300px;
    margin-right: 300px;
}
#titulo{
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
}
#cita-random{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 40px;
}
#textoCita{
    border-radius: 30px;
    padding: 20px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0);
    

}
#temporizador{
    font-size: 50px;
    font-family: "Rubik", sans-serif;
}
.correcto{
    color: rgb(61, 206, 61);
}
.incorrecto{
    color: red;
    text-decoration: underline;
}
button{
    margin-top: 2rem;
    height: 80px;
    width: 200px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    background-color: rgb(215, 215, 215);
}